{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

<html lang="en">

<head>

    <!-- Private Chat JS-->
    <script src="{% static "js/private-chat/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/private-chat/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/private-chat/handlebars-v1.3.0.js" %}" type="text/javascript"></script>
    <script src="{% static 'js/chat.js' %}"></script>

    <!-- Private Chat CSS-->
    <link href="{% static "css/private-chat/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static "css/private-chat/style.css" %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static "css/contacts.css" %}" rel="stylesheet" type="text/css" media="all">

    <!-- Users -->
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

    <body style="background-color: #12ab66;">
    <input id="owner_username" type="hidden" value="{{ request.user.username }}">
        <div id="frame">
            <div id="sidepanel">
                <div id="profile">
                    <div class="wrap">
                        <img id="profile-img" src={{ user.profile.image.url }} class="online" alt="" />
                        <p>{{ request.user.get_full_name }}</p>
                        <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                        <div id="status-options">
                            <ul>
                                <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                                <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                                <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                                <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                            </ul>
                        </div>
                        <div id="expanded">
                            <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                            <input name="twitter" type="text" value="mikeross" />
                            <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                            <input name="twitter" type="text" value="ross81" />
                            <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                            <input name="twitter" type="text" value="mike.ross" />
                        </div>
                    </div>
                </div>


                <div id="contacts" class="hide-contacts">
                    <ul id="contact-list" class="contact-class">
                        <li class="contact" onclick="displayContacts()">
					        <div class="wrap">
						        <img src="/media/new_chat.png" alt="" />
						        <div class="meta">
							        <p class="name">Start a chat</p>
							        <p class="preview"></p>
						        </div>
					        </div>
				        </li>
                        {% for user in user_list %}
                            {% if user.id != request.user.id and not user.is_superuser %}
                                <li id="individual_contact" class="contact">
                                    <a href="{{ user.username }}">
                                    <div class="wrap">
                                        <span class="status-online"></span>
                                        <img src="{{ user.profile.image.url }}" alt="dp" />
                                        <div class="meta" style="color: #ffffff">
                                            <p class="name">{{ user.get_full_name }}</p>
                                            <p class="preview"></p>
                                        </div>
                                    </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div id="bottom-bar">
                    <button id="addcontact" onclick="window.location.href='{% url 'authentication:profile' %}' "><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Profile</span></button>
                    <button id="settings" onclick="window.location.href='{% url 'authentication:logout' %}' "><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Logout</span></button>
                </div>
            </div>
            <div class="content">

                <div id="messages" class="messages">
                    <ul>
                        {% for msg in active_dialog.messages.all %}
                            {% if request.user.username != msg.sender.username %}
                                <li class="sent">
                                <img src="http://emilcarlsson.se/assets/mikeross.png"  />
                                <p>{{ msg.text }}<br>
                                   {{ msg.get_formatted_create_datetime }}
                                </p>
                                </li>
                            {% else %}
                                <li class="replies">
                                <img src={{ user.profile.image.url }} />
                                <p>{{ msg.text }} <br>
                                   {{ msg.get_formatted_create_datetime }}</p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div id="contact-menu" class="contact-menu" style="display: none;">
                    <div class="back">
                           <img border="" alt="W3Schools" src="/media/back.png" onclick="displayMessages()" >
                    </div>


                    <div class="row m0">
                         <div class="contact-wrap">
                            <div class="search-contact">
                                <input id="search_contacts" type="text" class="" placeholder="Add to start a chat or group chat" />
                                <button class="">Start</button>
                            </div>
                            <div class="all-contact">
                                <h4>All Contacts</h4>
                                <ul id="contact-list">
                                    <li class="contact-box">
                                        <div class="contact-image">
                                            <img src="/media/default.jpg"/>
                                        </div>
                                        <div class="contact-name">
                                            <h4>Abin Varghese Techversant</h4>
                                            <p>Mobile • +918089552309</p>
                                        </div>
                                    </li>
                                       <li class="contact-box">
                                        <div class="contact-image">
                                            <img src="/media/default.jpg"/>
                                        </div>
                                        <div class="contact-name">
                                            <h4>Abin Varghese Techversant</h4>
                                            <p>Mobile • +918089552309</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                 <div id="message-input" class="message-input">
                    <div class="wrap">
                    <input id="chat-message" class="form-control message" type="text" placeholder="Write your message..." />
                        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                        <button id="btn-send-message" type="submit" class="submit send-message"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                 </div>
            </div>

        </div>
    </body>

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.0/scrollMonitor.js"
            integrity="sha256-BseZlDlA+yL4qu+Voi82iFa5aaifralQEXIjOjaXgeo=" crossorigin="anonymous"></script>
{#    <script src="{% static 'js/django_private_chat/dialogs.js' %}"></script>#}
{% endblock %}

<script>

    function displayContacts() {
        var x = document.getElementById("contact-menu");
        var y = document.getElementById("messages");
        var z = document.getElementById("message-input");

        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "none";
        }
    }

    function displayMessages() {
        var x = document.getElementById("contact-menu");
        var y = document.getElementById("messages");
        var z = document.getElementById("message-input");

        if (x.style.display === "block") {
            x.style.display = "none";
            y.style.display = "block";
            z.style.display = "block";
        }
    }

    $("#search_contacts").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#contact-list li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });


    //websocket from django_private_chat

    var base_ws_server_path = "{{ ws_server_path }}";
    $(document).ready(function () {
    var websocket = null;
    var monitor = null;

    function initReadMessageHandler(containerMonitor, elem) {
        var id = $(elem).data('id');
        var elementWatcher = containerMonitor.create(elem);
        elementWatcher.enterViewport(function () {
            var opponent_username = getOpponnentUsername();
            var packet = JSON.stringify({
                type: 'read_message',
                session_key: '{{ request.session.session_key }}',
                username: opponent_username,
                message_id: id
            });
            $(elem).removeClass('msg-unread').addClass('msg-read');
            websocket.send(packet);
        });
    }

    function initScrollMonitor() {
        var containerElement = $("#messages");
        var containerMonitor = scrollMonitor.createContainer(containerElement);
        $('.msg-unread').each(function (i, elem) {
            if ($(elem).hasClass('opponent')){
                initReadMessageHandler(containerMonitor, elem);
            }

        });
        return containerMonitor
    }

    function getOpponnentUsername() {
        return "{{ opponent_username }}";
    }

    // TODO: Use for adding new dialog
    function addNewUser(packet) {
        $('#user-list').html('');
        packet.value.forEach(function (userInfo) {
            if (userInfo.username == getUsername()) return;
            var tmpl = Handlebars.compile($('#user-list-item-template').html());
            $('#user-list').append(tmpl(userInfo))
        });
    }

    function addNewMessage(packet) {
        var msg_class = "";
        if (packet['sender_name'] == $("#owner_username").val()) {
            msg_class = "replies";
        } else {
            msg_class = "sent";
        }

        var SendMsgElem =
            $('<ul>' +
              '<li class="sent"> <img src={{ user.profile.image.url }}> <p>' + packet['message'] +
              '<br>' + packet['created'] +
              '</li>');

        var ReplyMsgElem =
            $('<ul>' +
              '<li class="replies"> <img src={{ user.profile.image.url }}> <p>' + packet['message'] +
              '<br>' + packet['created'] +
              '</li>');

        if (msg_class === "sent"){
            $('#messages').append(SendMsgElem);
            scrollToLastMessage();
        }
        else {
            $('#messages').append(ReplyMsgElem);
            scrollToLastMessage();
        }
    }

    function scrollToLastMessage() {
        var $msgs = $('#messages');
        $msgs.animate({"scrollTop": $msgs.prop('scrollHeight')})
    }

    function generateMessage(context) {
        var tmpl = Handlebars.compile($('#chat-message-template').html());
        return tmpl({msg: context})
    }

    function setUserOnlineOffline(username, online) {
        var elem = $("#user-" + username);
        if (online) {
            elem.attr("class", "btn btn-success");
        } else {
            elem.attr("class", "btn btn-danger");
        }
    }

    function gone_online() {
        $("#offline-status").hide();
    }

    function gone_offline(packet) {
        websocket.send(packet);
    }

    function flash_user_button(username) {
        var btn = $("#user-" + username);
        btn.fadeTo(700, 0.1, function () {
            $(this).fadeTo(800, 1.0);
        });
    }

    function setupChatWebSocket() {
        var opponent_username = getOpponnentUsername();
        websocket = new WebSocket(base_ws_server_path + '{{ request.session.session_key }}/' + opponent_username);

        websocket.onopen = function (event) {
            var opponent_username = getOpponnentUsername();

            var onOnlineCheckPacket = JSON.stringify({
                type: "check-online",
                session_key: '{{ request.session.session_key }}',
                username: opponent_username
                // Sending username because the user needs to know if his opponent is online
            });
            var onConnectPacket = JSON.stringify({
                type: "online",
                session_key: '{{ request.session.session_key }}'

            });

            console.log('connected, sending:', onConnectPacket);
            websocket.send(onConnectPacket);
            console.log('checking online opponents with:', onOnlineCheckPacket);
            websocket.send(onOnlineCheckPacket);
            monitor = initScrollMonitor();
        };


        window.onbeforeunload = function () {

            var onClosePacket = JSON.stringify({
                type: "offline",
                session_key: '{{ request.session.session_key }}',
                username: opponent_username,
                // Sending username because to let opponnent know that the user went offline
            });
            console.log('unloading, sending:', onClosePacket);
            websocket.send(onClosePacket);
            websocket.close();
        };


        websocket.onmessage = function (event) {
            var packet;

            try {
                packet = JSON.parse(event.data);
                console.log(packet)
            } catch (e) {
                console.log(e);
            }

            switch (packet.type) {
                case "new-dialog":
                    // TODO: add new dialog to dialog_list
                    break;
                case "user-not-found":
                    // TODO: dispay some kind of an error that the user is not found
                    break;
                case "gone-online":
                    if (packet.usernames.indexOf(opponent_username) != -1) {
                        gone_online();
                    } else {
                        gone_offline();
                    }
                    for (var i = 0; i < packet.usernames.length; ++i) {
                        setUserOnlineOffline(packet.usernames[i], true);
                    }
                    break;
                case "gone-offline":
                    if (packet.username == opponent_username) {
                        gone_offline();
                    }
                    setUserOnlineOffline(packet.username, false);
                    break;
                case "new-message":
                    var username = packet['sender_name'];
                   if (username == opponent_username || username == $("#owner_username").val()){
                        addNewMessage(packet);
                        if (username == opponent_username) {
                            initReadMessageHandler(monitor, $("div[data-id='" + packet['message_id'] + "']"));
                        }
                    } else {
                        if ($("#user-"+username).length == 0){
                            var new_button = $(''+
                                '<a href='+ username + '' +
                                '"/"id="user-'+username+'" class="btn btn-danger">{% trans "Chat with" %} '+username+'</a>');
                            $("#user-list-div").find("ul").append()
                        }
                        flash_user_button(username);

                    }
                    break;
                case "opponent-typing":
                    var typing_elem = $('#typing-text');
                    if (!typing_elem.is(":visible")) {
                        typing_elem.fadeIn(500);
                    } else {
                        typing_elem.stop(true);
                        typing_elem.fadeIn(0);
                    }
                    typing_elem.fadeOut(3000);
                    break;
                case "opponent-read-message":
                    if (packet['username'] == opponent_username) {
                        $("div[data-id='" + packet['message_id'] + "']").removeClass('msg-unread').addClass('msg-read');
                    }
                    break;

                default:
                    console.log('error: ', event)
            }
        }
    }

    function sendMessage(message) {
        var opponent_username = getOpponnentUsername();
        var newMessagePacket = JSON.stringify({
            type: 'new-message',
            session_key: '{{ request.session.session_key }}',
            username: opponent_username,
            message: message
        });
        websocket.send(newMessagePacket)
    }

    $('#chat-message').keypress(function (e) {
        if (e.which == 13 && this.value) {
            sendMessage(this.value);
            this.value = "";
            return false
        } else {
            var opponent_username = getOpponnentUsername();
            var packet = JSON.stringify({
                type: 'is-typing',
                session_key: '{{ request.session.session_key }}',
                username: opponent_username,
                typing: true
            });
            websocket.send(packet);
        }
    });

    $('#btn-send-message').click(function (e) {
        var $chatInput = $('#chat-message');
        var msg = $chatInput.val();
        if (!msg) return;
        sendMessage($chatInput.val());
        $chatInput.val('')
    });

    setupChatWebSocket();
    scrollToLastMessage();
});
</script>

<style>
nav ul li a{
  text-decoration:none;
  color:#222;
  background-color:#ccc;
  padding:4px 5px;
}
</style>

</html>
